body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
ul {
  text-align: right;
  list-style-type: none;
  margin-right: 40px;
}
ul li{
  display: inline;
  padding-right: 25px;

}
.banner{
  height: 600px;
  width: 100%;
  background-color:gold; 
}
.logo{
  width:30px;
  border:solid black 1px;
}